{% extends 'todos/base.html' %}

{% block title %}
<title>Todo App</title>
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header shadow-sm bg-white">
                <h1 class="display-5 text-info"><i class="fa-solid fa-list-check"></i> Todo App</h1>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <form action="/todos/insert_todo/" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" name="content" placeholder="Add your task..." required>
                                <div class="input-group-append text-info">
                                    <span class="input-group-text bg-white py-0">
                                        <button type="submit" class="btn btn-sm text-info">
                                            <i class="fa-solid fa-circle-plus fa-lg"></i>
                                        </button>
                                    </span>    
                                </div>
                            </div>
                        </form>
                    </li>
                    {% for todo in todo_list %}
                    <li class="list-group-item">
                        {{ todo.content }}
                        <form action="{% url 'delete_todo_item' todo.id %}" method="post" class="float-right d-line">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <i class="fa-regular fa-trash-can fa-lg text-danger"></i>
                            </button>
                        </form>
                    </li>
                    {% empty %}
                    <li class="list-group-item">
                        <span class="font-italic">No todo item found.</span>
                    </li>
                    {% endfor %}
                </ul>
            </div> 
        </div> 
    </div>
</div>

<footer class="mt-5 text-center shadow-lg p-3 bg-body rounded d-flex d-sm-block">
    <span class="align-self-start mr-3">Developed by <a href="https://www.linkedin.com/in/rkpust/" target="_blank">Rezaul Karim</a></span>
    <span class="align-self-end ml-3">All Rights Reserved &COPY; 2023</span>
</footer>
</div>
{% endblock %}