{% extends 'todos/base.html' %}

{% block title %}
<title>Todo App</title>
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header shadow-sm bg-white">
                <h1 class="display-5 text-info"><i class="fa-solid fa-list-check"></i> Todo App</h1>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <form action="/todos/insert_todo/" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" name="content" placeholder="Add your task..." required>
                                <div class="input-group-append text-info">
                                    <span class="input-group-text bg-white py-0">
                                        <button type="submit" class="btn btn-sm text-info" title="Add Todo">
                                            <i class="fa-solid fa-circle-plus fa-lg"></i>
                                        </button>
                                    </span>    
                                </div>
                            </div>
                        </form>
                    </li>

                    <table>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-info" style="position: absolute; right: 10px; top: 25px;" formaction="{% url 'update_selected_todo_status' %}" title="Update Status"><i class="fa-solid fa-retweet fa-fw"></i></button>

                            {% for todo in todo_list %}
                                <li class="list-group-item">
                                    {{ todo.content }}
                                    <div class="d-flex float-right">
                                        <select name="status_{{ todo.id }}" id="{{ todo.id }}" class="" style="height: 35px; padding-top: 0; padding-bottom: 0;" title="Status">
                                            <option value="" {% if todo.status == None %}selected{% endif %}>Select</option>
                                            <option value="Ongoing" {% if todo.status == 'Ongoing' %}selected{% endif %}>Ongoing</option>
                                            <option value="Pending" {% if todo.status == 'Pending' %}selected{% endif %}>Pending</option>
                                            <option value="Completed" {% if todo.status == 'Completed' %}selected{% endif %}>Completed</option>
                                        </select>

                                        <button type="submit" class="btn" formaction="{% url 'delete_todo_item' todo.id %}" title="Delete Todo">
                                            <i class="fa-regular fa-trash-can fa-lg text-danger"></i>
                                        </button>
                                    </div>
                                </li>
                                {% empty %}
                                <li class="list-group-item">
                                    <span class="font-italic">No todo item found.</span>
                                </li>
                            {% endfor %}
                        </form>
                    </table>
                </ul>
            </div> 
        </div> 
    </div>
</div>

<footer class="mt-5 text-center shadow-lg p-3 bg-body rounded d-flex d-sm-block">
    <span class="align-self-start mr-3">Developed by <a href="https://www.linkedin.com/in/rkpust/" target="_blank">Rezaul Karim</a></span>
    <span class="align-self-end ml-3">All Rights Reserved &COPY; 2023</span>
</footer>
</div>
{% endblock %}